# Exact `pip freeze` of the conda env "dassflow2" (Python 3.9.12) used to
# build and debug the MPI + adjoint fixes on 2026-07-20/21. See ENVIRONMENT.md
# for the non-Python part of the toolchain (gcc/gfortran, OpenMPI, SCOTCH,
# MUMPS, Tapenade, Java, Perl) and for why some of these versions matter.
#
# Regenerate with: conda activate dassflow2 && pip freeze > requirements.txt
#
# --- core / build-critical (pin these) ---
numpy==2.0.2
scipy==1.13.1
f90wrap==0.2.16
mpi4py==4.1.2
h5py==3.14.0
pandas==2.3.3
matplotlib==3.9.4
pyvista==0.46.5
vtk==9.5.2
PyYAML==6.0.3
pillow==11.3.0
packaging==26.2
# dassflow2d itself (editable/local install from this repo)
dassflow2d @ file:///home/pleleux/Bureau/DassFlow/debug_mpi/dassflow2d/code/wrappers_true
#
# --- transitive / plotting / notebook / doc-building (not build-critical) ---
accessible-pygments==0.0.5
alabaster==0.7.16
asttokens==3.0.2
attrs==26.1.0
babel==2.18.0
beautifulsoup4==4.15.0
bleach==6.2.0
certifi==2026.6.17
charset-normalizer==3.4.9
comm==0.2.3
contourpy==1.3.0
cycler==0.12.1
debugpy==1.8.21
decorator==5.3.1
defusedxml==0.7.1
docutils==0.21.2
exceptiongroup==1.3.1
executing==2.2.1
fastjsonschema==2.21.2
fonttools==4.60.2
idna==3.18
imagesize==1.5.0
importlib_metadata==8.7.1
importlib_resources==6.5.2
ipykernel==6.31.0
ipython==8.18.1
ipywidgets==8.1.8
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-sphinx==0.5.3
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.16
kiwisolver==1.4.7
latexcodec==3.0.1
MarkupSafe==3.0.3
matplotlib-inline==0.2.2
mistune==3.3.3
nbclient==0.10.2
nbconvert==7.17.1
nbformat==5.10.4
nest-asyncio==1.6.0
numpydoc==1.9.0
pandocfilters==1.5.1
parso==0.8.7
pexpect==4.9.0
platformdirs==4.4.0
pooch==1.9.0
prompt_toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pybtex==0.26.1
pybtex-docutils==1.0.3
pydata-sphinx-theme==0.16.1
Pygments==2.20.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytz==2026.2
pyzmq==27.1.0
referencing==0.36.2
requests==2.32.5
rpds-py==0.27.1
scooby==0.11.0
six==1.17.0
snowballstemmer==3.1.1
soupsieve==2.8.4
Sphinx==7.4.7
sphinx-autosummary-accessors==2025.3.1
sphinx-panels==0.6.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-bibtex==2.6.5
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.6.3
tinycss2==1.4.0
tomli==2.4.1
tornado==6.5.7
traitlets==5.15.1
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.6.3
wcwidth==0.8.2
webencodings==0.5.1
widgetsnbextension==4.0.15
zipp==3.23.1
